@font-face{
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-light-italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-regular-italic";
  src: url("../fonts/Roboto/Roboto-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-medium-italic";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-bold-italic";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-black-italic";
  src: url("../fonts/Roboto/Roboto-blackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
  padding: 0;
  margin: 0;
  background-color: #8ca697;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.top-header {
  min-height: 73px;
  clear: both;
}

.logo {
  float: left;
}

.main-menu {
  width: 406px;
  float: left;
  list-style: none;
  padding: 29px 0 0 10px;
  margin: 0;
  font-size: 0;
}

.main-menu .main-menu__link {
  display: inline-block;
  list-style: none;
  border-radius: 16px;
}

.main-menu__link a:hover{
  background-color: rgb(247, 246, 243);
  color: #333333;
  border-radius: 16px;
}

.main-menu a {
  text-decoration: none;
  font-family: "Roboto-bold";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 7px 13px 7px 14px;
}

.submenu {
  display: none;
}

.user-panel {
  float: right;
  width: 267px;
  padding: 23px 0 0 5px;
}

.user-panel__link {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.user-search__search-link {
  display: block;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 0;
  background-image: url("../img/user-panel-search.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user-search__search-link:hover {
  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-search-hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user-search__search-form {
  display: none;
  position: absolute;
  top: 60px;
  right: 278px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 0;
}

/*Включить форм при наведении*/

.user-search__search-field {
  padding: 13px 232px 13px 14px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-family: "Roboto-regular";
  font-size: 14px;
  line-height: 24px;
}

.user-login__link-enter {
  display: block;
  padding: 8px 16px 8px 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background-image: url("../img/user-panel-login.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-medium";
}

.user-login__link-enter:hover {
  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-login-hover.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #323232;
}

.user-panel__login-form {
  display: none;
  width: 241px;
  height: 174px;
  padding: 20px 17px 20px 19px;
  position: absolute;
  top: 60px;
  right: 175px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form {
  display: none;
}

.login-form a{
  display: block;
  float: left;
  font-family: "Roboto-regular";
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-align: left;
  text-decoration: none;
}

.login-form__email-field,
.login-form__password-field {
  width: 225px;
  height: 16px;
  border: 1px solid #d3d3d2;
  padding: 13px 0 13px 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-login__enter-button {
  float: left;
  width: 100px;
  height: 44px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  border-radius: 22px;
  border: none;
  margin-right: 20px;
}

.login-form__forgot-password-link::after{
  content: "";
  position: absolute;
  bottom: 47px;
  right: 38px;
  height: 1px;
  width: 100px;
  background-color: #adacaa;
}

.login-form__register-link::after{
  content: "";
  position: absolute;
  bottom: 23px;
  right: 20px;
  height: 1px;
  width: 118px;
  background-color: #adacaa;
}

.user-basket__link{
  display: block;
  padding: 8px 34px 8px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background-image: url("../img/user-panel-basket.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-medium";
}

.user-basket__link:hover{
    background-color: rgb(248, 247, 244);
    background-image: url("../img/user-panel-basket-hover.png");
    background-repeat: no-repeat;
    background-position: 16px;
    color: #323232;
}

.bottom-header {
  float: right;
}

.bottom-header {
  text-align: right;
  font-family: "Roboto-bold";
  color: #ffffff;
}

.bottom-header__telephone-number {
  color: #ffffff;
  display: block;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.slide {
  display: block;
  width: 666px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.second-slide{
  display: none;
}

.third-slide {
  display: none;
}

.slide-title{
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  width: 666px;
  margin: 0 0 26px 0;
  padding: 325px 0 0 0;
}

.slider__slider-button,
.slide__select {
  display: block;
  border-radius: 50%;
  float: left;
  font-size: 0;
}

.btn-on-slide {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font-family: "Roboto-bold";
  font-size: 32px;
  line-height: 44px;
  padding: 10px 42px 10px 40px;
  border-radius: 32px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

.slider {
  display: inline-block;
  position: relative;
  top: -70px;
}

.slider__slider-button {
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
}

.slider__slider-button:hover {
  width: 17px;
  height: 17px;
  background-color: #ffffff;
}
